[submodule "content/notes/c-programming-language/code"]
	path = content/notes/c-programming-language/code
	url = https://github.com/bjtn1/c-programming-a-modern-approach

[submodule "public/notes/c-programming-language/code"]
	path = public/notes/c-programming-language/code
	url = https://github.com/bjtn1/c-programming-a-modern-approach
[submodule "notes.bjtnoguera.com"]
	path = notes.bjtnoguera.com
	url = https://github.com/bjtn1/notes.bjtnoguera.com.git
