{{ define "main" }}
<!--
This is the default layout used for list pages

List pages are folders containing the `_index.md` file and a bunch of other .md files inside it
Example:
./content/notes/_index.md

is a leaf page
-->
<div class="px-12 flex justify-between items-center" style="min-height: 85vh;">
  <div class="flex flex-col justify-center items-start">
    {{ range.Pages.ByTitle }}
    <div>
      <a href="{{ .RelPermalink }}"><h1 class="text-7xl hover:text-blue hover:scale-105 duration-150 ease-in-out">{{ .Title }}</h1></a>
    </div>
    {{ end }}
  </div>

  {{ partial "menu.html" . }}
</div>
{{ end }}
