<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>

    {{ $style := resources.Get "css/tailwind.css" }}
    <link href="{{ $style.Permalink }}" rel="stylesheet">

    <!-- Code taken from https://pagefind.app/docs/ -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>

    {{ partial "bg-linear-gradient.html" . }}

    <style>
      a:hover {
        color: #82aaff;
      }
    </style>
  </head>


  <!-- Unprefixed classes target mobile devices first -->
  <body class="
    text-white
    h-screen
    flex
    flex-col
    justify-between

    xl:text-white
    xl:h-screen
    xl:flex
    xl:flex-col
    xl:justify-between
    "
  >

    <header class="
      p-4
      flex
      justify-center

      xl:p-4
      xl:flex
      xl:justify-center
      "
    >
      <!-- TODO Make this sticky -->
      <div class="
        px-4
        max-xl:py-1.5
        max-w-fit
        bg-search-bg
        rounded-3xl 
        border-solid
        border-black
        text-white-50
        text-sm
        flex
        justify-center
        gap-5

        xl:px-4
        xl:max-w-fit
        xl:flex
        xl:justify-center
        xl:bg-search-bg
        xl:rounded-3xl 
        xl:border-solid
        xl:border-black
        xl:text-lg
        "
        style="border-color: rgba(255,255,255,.08)"
      >
        <!-- <input type="search" placeholder="Search..." class="border border-solid border-black"> -->
        <a href="{{ .Site.BaseURL }}about" class="
          xl:py-2
          xl:px-4
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          About
        </a>
        <a href="{{ .Site.BaseURL }}" class="
          xl:py-2
          xl:px-4
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          Home
        </a>
        <a href="{{ .Site.BaseURL }}notes" class="
          xl:py-2
          xl:px-4
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          Notes
        </a>
        <a href="{{ .Site.BaseURL }}projects" class="
          xl:py-2
          xl:px-4
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          Projects
        </a>
        <button class="
          xl:py-2
          xl:px-4
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          Search
        </button>
      </div>
    </header>

    <main class="
      flex-1
      overflow-y-scroll

      xl:flex-1
      xl:overflow-y-scroll
      "
      style="max-height: 80vh;"
    >
      {{ block "main" . }} {{ end }}
    </main>

    <footer class="
      w-full

      xl:w-full
      ">
      <div class="
        text-white-50
        text-xs
        text-center
        py-2

        xl:text-white-50
        xl:text-xs
        xl:text-center
        xl:py-6
        "
      >
        Copyright © {{ now.Year }} Brandon Jose Tenorio Noguera
        <br>
        Built with
        <a href="https://gohugo.io/" target="_blank" rel="noopener noreferrer" class="
          xl:hover:text-blue
          xl:hover:scale-105
          xl:duration-150
          xl:ease-in-out
          "
        >
          Hugo
        </a>
      </div>
    </footer>
  </body>
</html>
