{{ define "main" }}
<!--
This is the homepage

NOTE
Putting comments before "main" makes the html page not render
Make sure to put comment inside main
-->
<div class="
  overflow-hidden
  px-6
  flex
  justify-center
  items-center
  h-full

  xl:px-12
  xl:flex
  xl:justify-center
  xl:items-center
  xl:w-full
  xl:h-full
  "
>
  <!-- Hero section -->
  <div class="
    flex
    flex-col
    justify-center
    items-center
    gap-y-4

    xl:flex
    xl:flex-col
    xl:justify-center
    xl:items-center
    "
  >
    <!-- First and second name, and first last name section -->
    <div>
      <h1 class="
        text-4xl
        text-center
        xl:text-7xl
        "
      >
        Brandon Jose Tenorio Noguera
      </h1>
    </div>

    <!--Second last name and icons section-->
    <div class="
      xl:flex
      xl:items-center
      xl:gap-x-2
      "
    >
      <!--Second last name section-->
      <!-- <h1 class=" -->
      <!--   xl:text-7xl -->
      <!--   " -->
      <!--   style="margin-top: -21px;" -->
      <!-- > -->
      <!--   Noguera -->
      <!-- </h1> -->

      <!--Links in hero section-->
      <div class="
        flex
        justify-around
        items-center

        xl:flex
        xl:justify-around
        xl:items-center
        "
        style="width: 383px;"
      >
        {{ $github := resources.Get "icons/github.svg" }}
        {{ $github_svg := $github.RelPermalink }}
        {{ $coffee := resources.Get "icons/coffee.svg" }}
        {{ $coffee_svg := $coffee.RelPermalink }}
        {{ $at := resources.Get "icons/atsign.svg" }}
        {{ $at_svg := $at.RelPermalink }}
        {{ $linkedin := resources.Get "icons/linked-in.svg" }}
        {{ $linkedin_svg := $linkedin.RelPermalink }}

        <div>
          <a href="https://github.com/bjtn1" target="_blank" rel="noopener noreferrer">
            <img class="hover:scale-105" src="{{ $github_svg }}" alt="Github logo" width="50px" height="50">
          </a>
        </div>

        <div>
          <a href="https://www.buymeacoffee.com/bjtn" target="_blank" rel="noopener noreferrer">
            <img class="hover:scale-105" src="{{ $coffee_svg}}" alt="BuyMeACoffee logo" width="50px" height="50">
          </a>
        </div>

        <div>
          <a href="mailto:brandonjtnoguera@gmail.com" target="_blank" rel="noopener noreferrer">
            <img class="hover:scale-105" src="{{ $at_svg }}"  width="50px" height="50" alt="Email me logo">
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/brandon-jose-tenorio-noguera/" target="_blank" rel="noopener noreferrer">
            <img class="hover:scale-105" src="{{ $linkedin_svg }}"  width="50px" height="50" alt="LinkedIn logo">
          </a>
        </div>

      </div>
    </div>

    <!--BIO section-->
    <div class="
      text-white-50
      text-center
      px-5

      xl:text-white-50
      xl:text-center
      xl:mt-4
      xl:w-full
      "
    >
      Welcome to my website! :D I'm glad you made it. Here is where I post my notes and projects. You can reach me by email by clicking the at (@) symbol above! I love hearing from readers, and you will almost always get a response back from me. Thank you for stopping by!
    </div>
  </div>

</div>
{{ end }}
