{{ define "main" }}
<div class="
  flex
  flex-col
  justify-center
  items-center
  w-full
  text-center

  xl:flex
  xl:flex-col
  xl:justify-center
  xl:items-center
  xl:w-full
  xl:text-center
  "
>
  {{ range.Pages.ByTitle }}
  <div>
    <a href="{{ .RelPermalink }}">
      <h1 class="
        text-3xl

        xl:text-7xl
        xl:hover:text-blue
        xl:hover:scale-105
        xl:duration-150
        xl:ease-in-out
        "
      >
        {{ .Title }}
      </h1>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}
