{{ define "main" }}
<div class="
  px-12
  flex
  justify-center
  items-center
  w-full
  h-full
  "
>
  <div class="
    flex
    overflow-y-scroll
    max-w-full
    flex-col
    justify-center
    items-start
    "
  >
    {{ range.Pages.ByTitle }}
    <div>
      <a href="{{ .RelPermalink }}">
        <h1 class="
          text-7xl
          hover:text-blue
          hover:scale-105
          duration-150
          ease-in-out
          "
        >
          {{ .Title }}
        </h1>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
