{{ define "main" }}
<div class="px-12 flex justify-between items-center" style="min-height: 85vh;">
  <!--Left menu section-->
  {{ partial "menu.html" . }}

  <!--Center section: contains main content-->
  <div class="flex flex-col justify-center items-start">
    <div class="
      prose
      prose-maincolors
      prose-lg
      hover:prose-a:underline
      prose-a:no-underline
      ">
      {{ .Content }}
    </div>
  </div>

  <!--Right section: contains main content's nav bar-->
  <div>
    {{ partial "toc-navbar.html" . }}
  </div>
</div>
{{ end }}
