<!-- Source https://www.w3schools.com/howto/howto_js_collapsible.asp -->
<script>
document.addEventListener("DOMContentLoaded", function () {
  let coll = document.querySelector(".collapsible");
  let content = document.querySelector(".content");

  coll.addEventListener("click", function () {
    content.classList.toggle("active");
    coll.classList.toggle("active");
  });
});
</script>


<button type="button" class="
  "
>
  On this page
</button>

<div class="
  "
>
  {{ .Page.TableOfContents }}
</div>

