<div class="flex gap-x-8 items-center">
  <div class="text-7xl flex flex-col">
    <a href="/about" class="hover:text-blue hover:scale-105 duration-150 ease-in-out">About</a>
    <a href="/" class="hover:text-blue hover:scale-105 duration-150 ease-in-out">Home</a>
    <a href="/notes" class="hover:text-blue hover:scale-105 duration-150 ease-in-out">Notes</a>
    <a href="/projects" class="hover:text-blue hover:scale-105 duration-150 ease-in-out">Projects</a>
  </div>
  <div class="border-e-2 border-white-50 border-dotted h-96"></div>
</div>
