{{ define "main" }}
<!--
NOTE
This was (mostly) taken from
https://github.com/fireship-io/fireship.io/blob/master/layouts/404.html
:-->
<main class="prose prose-maincolors min-w-full text-center">
  <h1 class="text-5xl mt-12">404 Not Found</h1>
  <p>Yay! You found the blinking cat!</p>
  <a class="" href="/">Go Home</a>

  {{ $image := resources.Get "imgs/plink.gif" }}
  {{ $image := $image.Fit "600x400" }}
  {{ with $image }}
    <img class="mx-auto" alt="plinking cat" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
  {{ end }}
</main>

{{ end }}
